<header class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
      </ul>
    </div>
  </nav>
</header>
<main class="container">
  <div class="row">
    <div class="card" ng-repeat="ad in $ctrl.ads">
      <div class="card-title">{{ ad.title }}</div>
      <div class="card-image">
        <img ng-src="{{ ad.item_image }}"/>
      </div>
      <div class="card-content">
        <p>Description: {{ ad.description }}</p>
        <p>Price: {{ ad.price }}</p>
      </div>
    </div>
  </div>
</main>
